.card-detail-container {

  color: #fff;
  gap: 30px;
  text-align: center;
  box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.5);
  padding: 20px;
  margin-left: 10px;
  margin-right: 10px;  
  background-color: black;
  border-radius: 4px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-left: 50px;
  margin-right: 50px;
 
}

.card-img {
  border-radius: 4px;
  width: 100px;
  height: 90px;
  display: inline-block;
}

.title-detail,
.title-price {
  font-size: 2rem;
  text-align: center;
}

.title-stock,
.title-weight,
.title-height {
  font-size: 1rem;
}

.descript {
  font-size: 1rem;
}

.verMas,
.btn-primary {
  border: none;
  background-color: red;
  border-radius: 8px;
  padding: 4px;
  margin-top: 35px;
  text-decoration: none;
}

.cart-buttons {
  display: flex;
  gap: 5px;
}
